.fullWidthImage {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-top: 440px;
    padding-bottom: 580px;

    @media (max-width: 1250px) {
        padding-top: 300px;
        padding-bottom: 480px;
    }
    @media (max-width: 1000px) {
        padding-top: 200px;
        padding-bottom: 380px;
    }

    &__wrapper {
        width: 100%;
        max-width: 1410px;
        margin: 0 80px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;

        &__section {
            &__header {
                height: 100%;
                border-left: 1px solid $c-grey-2;
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                grid-column-gap: 12px;
                align-items: flex-start;
                padding-bottom: 160px;
                padding-left: 15px;
                align-content: flex-end;
                
                &__text {
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    transform: rotate(180deg);
                    font-size: 15px;
                    color: $c-white;

                    .mediumText {
                        font-size: 20px;
                    }

                    .largeText {
                        font-size: 38px;
                    }
                }
            }

            &__dateText {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                transform: rotate(180deg);
                font-size: 16px;
            }
        }
    }

    img {
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }
}