.landing {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logoWrapper {
        position: relative;
        width: 80%;
        height: 800px;
        overflow: hidden;

        @media (max-width: 1050px) {
            height: 550px;
        }

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}