@import '../main';
@import '../elements/smallScreenInfo';
@import '../fonts/MonoSpec';

.container {
    width: 100%;
    max-width: 1492px;
    height: 100%;
    max-height: 708px;
    margin: auto auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .nav {
        position: absolute;
        right: 50px;
        top: 0;
    }

    .noSocials {
        position: absolute;
        right: 50px;
        bottom: 0;

        @media (max-width: 1250px) {
            grid-template-rows: 32px 32px 32px 32px;
            grid-template-columns: 32px;
            grid-row-gap: 20px;
            grid-column-gap: 0;
            bottom: 50%;
            transform: translateY(50%);
        }
        
        &__item svg {
            fill: $c-grey-2;
        }
    }

    .contactContainer {
        display: grid;
        grid-template-columns: 580px;
        grid-template-rows: 78px 46px 355px 120px 78px;
        font-size: 16px;

        @media (max-width: 1250px) {
            grid-template-columns: 528px;
            grid-template-rows: 70px 46px 323px 120px 70px;
        }

        .field {
            position: relative;

            &--wrong {
                p {
                    opacity: 1;
                    visibility: visible;
                }  
                input, textarea {
                    border: 6px solid $c-red;
                    color: $c-red;
                }
            }

            &--default {
                p {
                    opacity: 0;
                    visibility: hidden;
                }
                input, textarea {
                    border: 6px solid $c-black;
                    color: $c-grey-3;
                }
            }

            input, textarea {
                transition: border 200ms ease;
                outline: none;
            }

            p {
                position: absolute;
                font-size: 14px;
                color: $c-red;
                transition: visibility 200ms ease, opacity 200ms ease;

                &:before {
                    content: '*';
                    position: absolute;
                    top: -20px;
                    right: 100%;
                    font-size: 34px;
                }
            }
        }

        &__emailField {
            // margin-bottom: 46px;
            grid-row: 1 / 2;
            box-shadow: none;

            p {
                left: 4%;
                bottom: 110%;
            }

            input {
                width: 100%;
                height: 100%;
                border-radius: 50px;
                padding: 0 20px;
                font-size: 16px;
            }
        }

        &__messageField {
            // margin-bottom: 120px;
            grid-row: 3 / 4;

            textarea {
                width: 100%;
                height: 100%;
                border: 6px solid $c-black;
                border-radius: 50px;
                padding: 30px 20px;
                color: $c-grey-3;
                resize: none;
                line-height: 180%;
                font-size: 16px;
            }

            p {
                right: 0;
                top: 108%;
            }
        }

        &__submitButton {
            width: 100%;
            height: 100%;
            border-radius: 50px;
            background-color: $c-black;
            border: none;
            cursor: pointer;
            color: $c-white;
            font-size: 16px;
            outline: none;
            transition: transform 300ms ease;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-row: 5 / 6;

            &--default {
                .text {
                    display: block;
                }
                .loaderIcon {
                    display: none;
                }
            }

            &--loader {
                .text {
                    display: none;
                }
                .loaderIcon {
                    overflow: visible;
                    display: block;

                    rect:first-of-type {
                        animation: move 5000ms forwards;
                        transform-box: fill-box;
                    }

                    rect:nth-of-type(2) {
                        animation: first 400ms forwards;
                        animation-delay: 1600ms;
                    }
                    rect:nth-of-type(3) {
                        animation: sec 400ms forwards;
                        animation-delay: 1600ms;
                    }
                    rect:nth-of-type(4) {
                        animation: third 400ms forwards;
                        animation-delay: 1600ms;
                    }
                }
            }

            &:active {
                transform: scale(1.03);
            }
        }
    }
}

@keyframes first {
    100% {
        transform: translateX(0px);
    }
}
@keyframes sec {
    100% {
        transform: translateX(11px);
    }
}
@keyframes third {
    100% {
        transform: translateX(22px);
    }
}

@keyframes move {
    100% {
        transform-origin: center;
        transform: translate(11px, -11px), rotate(180deg);
    }
}