@import '../main';
@import '../elements/smallScreenInfo';
@import '../fonts/MonoSpec';

.goBackButton {
    width: 22px;
    height: 45px;
    position: fixed;
    top: 100px;
    left: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 999;

    @media (max-width: 1000px) {
        display: block;
        top: 80px;
    }

    @media (max-height: 840px) {
        top: 60px;
    }
    @media (max-height: 700px) {
        top: 30px;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.navbar {
    position: fixed;
    width: 100%;
    max-width: 1650px;
    height: 100%;
    min-height: 540px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 999;
    pointer-events: none;

    > * {
        position: absolute;
        pointer-events: all;
    }

    .nav {
        top: 100px;
        right: 55px;

        @media (max-width: 1000px) {
            top: 80px;
        }

        @media (max-height: 840px) {
            top: 60px;
        }

        @media (max-height: 700px) {
            top: 30px;
        }
    }

    .noSocials {
        bottom: 120px;
        right: 55px;

        @media (max-width: 1250px) {
            bottom: 50%;
            transform: translateY(50%);
        }

        @media (max-height: 840px) and (min-width: 1251px) {
            bottom: 80px;
        }
    }
}

.noSocials {
    @media (max-width: 1250px) {
        grid-template-rows: 32px 32px 32px 32px;
        grid-template-columns: 32px;
        grid-row-gap: 20px;
        grid-column-gap: 0;
    }

    &__item:hover {
        @media (max-width: 1250px) {
            transform: translateX(-4px);
        }
    }
    
    &__item svg {
        fill: $c-grey-2;
    }
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 850px) {
        justify-content: flex-start;
    }

    .contactContainer {
        display: grid;
        grid-template-columns: 580px;   
        grid-template-rows: 78px 46px 355px 120px 78px;
        font-size: 16px;
        position: relative;

        @media (max-width: 1250px) {
            padding-top: 100px;
            grid-template-columns: 480px;
            grid-template-rows: 70px 46px 323px 100px 70px;
        }

        @media (max-width: 850px) {
            margin-left: 80px;
        }


        @media (max-height: 780px) {
            grid-template-columns: 500px;   
            grid-template-rows: 70px 46px 300px 60px 70px;
        }
        @media (max-height: 700px) {
            grid-template-rows: 70px 26px 280px 60px 70px;
        }

        .field {
            position: relative;

            &--wrong {
                p {
                    opacity: 1;
                    visibility: visible;
                }  
                input, textarea {
                    border: 6px solid $c-red;
                    color: $c-red;
                }
            }

            &--default {
                p {
                    opacity: 0;
                    visibility: hidden;
                }
                input, textarea {
                    border: 6px solid $c-black;
                    color: $c-grey-3;
                }
            }

            input, textarea {
                transition: border 200ms ease;
                outline: none;
                -webkit-appearance: none;
            }

            p {
                position: absolute;
                font-size: 14px;
                color: $c-red;
                transition: visibility 200ms ease, opacity 200ms ease;

                @media (max-height: 780px) {
                    font-size: 12px;
                }

                &:before {
                    content: '*';
                    position: absolute;
                    top: -20px;
                    right: 100%;
                    font-size: 34px;
                }
            }
        }

        &__emailField {
            grid-row: 1 / 2;
            box-shadow: none;

            p {
                left: 4%;
                bottom: 110%;
            }

            input {
                width: 100%;
                height: 100%;
                border-radius: 50px;
                padding: 0 20px;
                font-size: 16px;

                @media (max-height: 780px) {
                    font-size: 14px;
                }
            }
        }

        &__messageField {
            grid-row: 3 / 4;

            textarea {
                width: 100%;
                height: 100%;
                border: 6px solid $c-black;
                border-radius: 50px;
                padding: 30px 20px;
                color: $c-grey-3;
                resize: none;
                line-height: 180%;
                font-size: 16px;
                -ms-overflow-style: none; 
                scrollbar-width: none; 

                &::-webkit-scrollbar {
                    display: none;
                }                  

                @media (max-width: 1250px) {
                    padding: 20px 20px;
                }

                @media (max-height: 780px) {
                    font-size: 14px;
                }
            }

            p {
                right: 0;
                top: 108%;
                width: 40%;

                @media (max-width: 1250px) {
                    width: 60%;
                }

                @media (max-height: 780px) {
                    width: 80%;
                    left: 4%;
                    top: 104%;
                }
            }
        }

        .envelopeOpenedFrontIcon {
            position: absolute;
            z-index: 1;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50px);
            overflow: visible;
            opacity: 0;
            visibility: hidden;
        }

        .envelopeIcon {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            overflow: visible;

            &Opened {
                visibility: hidden;
                opacity: 0;
            }

            &Closed {
                visibility: hidden;
                opacity: 0;
            }
        }

        &__submitButton {
            width: 100%;
            height: 100%;
            border-radius: 50px;
            background-color: $c-black;
            border: none;
            cursor: pointer;
            color: $c-white;
            font-size: 16px;
            outline: none;
            transition: transform 200ms ease;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-row: 5 / 6;
            position: relative;
            overflow: hidden;

            .sentBg {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: #09BD4E;
                visibility: hidden;
                opacity: 0;
            }

            span {
                position: absolute;
            }

            .sentText {
                transform: translateY(400%);
            }

            .loaderIcon {
                width: 44px;
                height: 11px;
                position: absolute;
                overflow: visible;
                opacity: 0;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
}