@import '../main';
@import '../fonts/MonoSpec';
@import '../fonts/RockwellStd';

.landingPage {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    transition: flex 300ms ease;
    -webkit-user-select: none;

    p, h1, span {
        text-transform: uppercase;
    }

    .leftSide {
        width: 100%;
        min-height: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0.18;
        position: relative;

        @media (max-width: 1400px) {
            flex: 0.12;
        }

        .indicator {
            height: 90px;
            width: 100%;
            font-size: 16px;
            text-align: center;
            position: absolute;
            bottom: 0;
        }
    }

    .content {
        width: 100%;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 45% auto;
        position: relative;
        flex: 0.64;

        @media (max-width: 1400px) {
            flex: 0.76;
        }

        &__showMoreButton {
            width: 100%;
            height: calc(100% - 65px - 120px);
            position: absolute;
            top: 120px;
            left: 0;
            z-index: 1;
        }

        &__imageSection {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;

            &__wrapper {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;

                &__image {
                    height: 102%;
                    min-height: 840px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    @media (max-width: 1000px) {
                        left: 30%;
                    }
                    @media (max-width: 800px) {
                        left: 26%;
                    }
                }
            }

            &__projNumber {
                position: absolute;
                top: 20px;
                left: -25px;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                font-size: 36px;
                color: transparent;
                -webkit-text-stroke: 1px black;
            }
        }

        &__menuSection {
            width: 100%;
            display: grid;
            grid-template-rows: 100px minmax(28%, 45%) 12.5% 11% auto;
            grid-template-columns: 100%;

            &__mainHeader {
                display: flex;
                flex-direction: column;
                font-size: 77px;
                line-height: 115%;
                align-self: end;
                transform: translateX(-5px);

                @media (max-width: 1000px) {
                    transform: translateX(-25px);
                    font-size: 67px;
                }

                // &--weronikasurdacka {
                //     transform: translateX(-29px);
                //     @media (max-width: 1000px) {
                //         transform: translateX(-22px);
                //     }
                // }

                // &--royalstar {
                //     transform: translateX(-17px);
                //     @media (max-width: 1000px) {
                //         transform: translateX(-9px);
                //     }
                // }

                // &--frontlineclub {
                //     transform: translateX(-2px);
                //     @media (max-width: 1000px) {
                //         transform: translateX(2px);
                //     }
                // }

                // &--pinacolada {
                //     transform: translateX(9px);
                //     @media (max-width: 1000px) {
                //         transform: translateX(11px);
                //     }
                // }

                span {
                    text-transform: lowercase;
                }

                span:nth-child(1) {
                    transform: translateX(-35px);
                }
                span:nth-child(2) {
                    transform: translateX(35px);
                }
            }

            &__subHeader {
                line-height: 160%;
                display: flex;
                font-size: 14px;

                &:first-of-type {
                    margin-top: 30px;
                    transform: translateX(28px);
                    max-width: 80%;

                    @media (max-width: 1000px) {
                        transform: translateX(8px);
                    }
                }

                &:last-of-type {
                    margin-bottom: 40px;
                    color: $c-grey-1;
                    justify-content: flex-end;
                }

                // &--weronikasurdacka {
                //     transform: translateX(5px);
                //     @media (max-width: 1000px) {
                //         transform: translateX(11px);
                //     }
                // }

                // &--royalstar {
                //     transform: translateX(15px);
                //     @media (max-width: 1000px) {
                //         transform: translateX(25px);
                //     }
                // }   

                // &--frontlineclub {
                //     transform: translateX(32px);
                //     @media (max-width: 1000px) {
                //         transform: translateX(34px);
                //     }
                // }

                // &--pinacolada {
                //     transform: translateX(43px);
                //     @media (max-width: 1000px) {
                //         transform: translateX(45px);
                //     }
                // }
            }

            &__socials {
                justify-self: end;
                align-self: end;
                justify-content: flex-end;
                align-items: flex-start;
                margin-bottom: 22px;
            }
        }
    }

    .rightSide {
        width: 100%;
        min-height: 640px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 0.18;
        z-index: 1;
        background-color: $c-white;

        @media (max-width: 1400px) {
            flex: 0.12;
        }

        &__drag {
            width: 55%;
            overflow: hidden;

            @media(max-width: 1400px) {
                width: 85%;
                margin-left: 4px;
            }

            &__header {
                text-align: center;
                font-size: 14px;
            }
            
            &__input {
                width: 100%;
                margin-bottom: 8px;
                -webkit-appearance: none;
                background: none;
                outline: none;
                padding: 16px 0;
                cursor: pointer;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 31px;
                    height: 31px;
                    margin: -15px 0  0;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 5px solid $c-grey-1;
                    background: $c-black;

                    @media(max-width: 1000px) {
                        width: 25px;
                        height: 25px;
                        margin: -12px 0 0;
                        border: 4px solid $c-grey-1;
                    }
                }
                
                &::-moz-range-thumb {
                    width: 22px;
                    height: 22px;
                    margin: -15px 0  0;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 5px solid $c-grey-1;
                    background: $c-black;

                    @media(max-width: 1000px) {
                        width: 25px;
                        height: 25px;
                        margin: -12px 0 0;
                        border: 4px solid $c-grey-1;
                    }
                }
            
                &::-ms-thumb {
                    width: 31px;
                    height: 31px;
                    margin: -15px 0  0;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 5px solid $c-grey-1;
                    background: $c-black;
                    
                    @media(max-width: 1000px) {
                        width: 25px;
                        height: 25px;
                        margin: -12px 0 0;
                        border: 4px solid $c-grey-1;
                    }
                }
                
                &::-webkit-slider-runnable-track {
                  width: 100%;
                  height: 2px;
                  cursor: pointer;
                  position: relative;
                  background: $c-grey-1;

                  @media (max-width: 1400px) {
                    width: 300px;
                  }
                }
              
                &::-moz-range-track {
                  width: 100%;
                  height: 2px;
                  cursor: pointer;
                  background: $c-grey-1;
                  @media (max-width: 1400px) {
                    width: 300px;
                  }
                }
              
                &::-ms-track {
                  width: 100%;
                  height: 2px;
                  cursor: pointer;
                  background: $c-grey-1;
                  @media (max-width: 1400px) {
                    width: 300px;
                  }
                }
              
                &:focus {
                  background: none;
                  outline: none;
                }
            }
        }
    }
}