@import '../main';
@import '../anim';
@import '../fonts/MonoSpec';
@import '../fonts/RockwellStd';

.landingPage {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    transition: flex 300ms ease;
    -webkit-user-select: none;

    p, h1, span {
        text-transform: uppercase;
    }

    .leftSide {
        width: 100%;
        min-height: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0.18;
        position: relative;

        @media (max-width: 1400px) {
            flex: 0.12;
        }

        // &--draggable {
        //     cursor: pointer;
        //     @media (max-width: 800px) {
        //         cursor: default;
        //     }
        // }

        // .link {
        //     text-decoration: none;
        //     width: 100%;
        //     height: 100%;
        //     text-align: center;
        //     display: none;
        //     font-size: 13px;
        //     position: absolute;
        //     z-index: 1;

        //     @media (max-width: 800px) {
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //     }

        //     span {
        //         position: relative;
        //         color: $c-black;
        //     }
        // }

        // .drag {
        //     position: relative;
        //     animation: fadeIn cubic-bezier(0.22, 1, 0.36, 1) 1600ms;
        //     font-size: 15px;
        //     transition: transform ease 300ms;
        //     pointer-events: none;
        //     @media (max-width: 800px) {
        //         display: none;
        //     }

        //     &::after {
        //         content: '<';
        //         display: block;
        //         position: absolute;
        //         right: 120%;
        //         top: 50%;
        //         transform: translateY(-50%);
        //         opacity: 0;
        //         transition: opacity ease 300ms, transform ease 300ms;
        //     }
        // }

        // &:active {
        //     .drag {
        //         transform: translateX(10px);
        //         &::after {
        //             opacity: 1;
        //             transform: translate(-10px, -50%);
        //         }
        //     }
        // }

        .indicator {
            height: 90px;
            width: 100%;
            font-size: 16px;
            text-align: center;
            position: absolute;
            bottom: 0;
            animation: fadeIn cubic-bezier(0.22, 1, 0.36, 1) 1600ms;
        }
    }

    .content {
        width: 100%;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 45% auto;
        position: relative;
        flex: 0.64;

        @media (max-width: 1400px) {
            flex: 0.76;
        }

        &__showMoreButton {
            width: 100%;
            height: calc(100% - 65px - 120px);
            position: absolute;
            top: 120px;
            left: 0;
            z-index: 1;
        }

        &__imageSection {
            width: 100%;
            position: relative;

            &__loader {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;

                img {
                    width: 100%;
                    height: 100%;
                    animation: rotate 1000ms infinite ease;
                    z-index: -1;
                }
            }

            &__wrapper {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;

                &__image {
                    height: 102%;
                    min-height: 840px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);

                    &--frontlineclub {
                        @media (max-width: 1000px) {
                            transform: translateX(-60%);
                        }
                    }
                }
            }

            &__projNumber {
                position: absolute;
                top: 20px;
                left: -25px;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                font-size: 36px;
                color: transparent;
                -webkit-text-stroke: 1px black;
                animation: slideInUp cubic-bezier(0.22, 1, 0.36, 1) 1600ms;
            }
        }

        &__menuSection {
            width: 100%;
            display: grid;
            grid-template-rows: 100px minmax(250px, 400px) 112px 100px auto;
            grid-template-columns: 100%;

            &__mainHeader {
                display: flex;
                flex-direction: column;
                font-size: 77px;
                line-height: 115%;
                align-self: end;

                @media (max-width: 1000px) {
                    transform: translateX(-50px);
                    font-size: 67px;
                }

                &--weronikasurdacka {
                    transform: translateX(-29px);
                    @media (max-width: 1000px) {
                        transform: translateX(-22px);
                    }
                }

                &--royalstar {
                    transform: translateX(-17px);
                    @media (max-width: 1000px) {
                        transform: translateX(-9px);
                    }
                }

                &--frontlineclub {
                    transform: translateX(-2px);
                    @media (max-width: 1000px) {
                        transform: translateX(2px);
                    }
                }

                &--pinacolada {
                    transform: translateX(9px);
                    @media (max-width: 1000px) {
                        transform: translateX(11px);
                    }
                }

                span {
                    text-transform: lowercase;
                }

                span:nth-child(1) {
                    transform: translateX(-35px);
                    animation: mainHeaderAnimation-firstLine cubic-bezier(0.22, 1, 0.36, 1) 1600ms; //520ms
                }
                span:nth-child(2) {
                    transform: translateX(35px);
                    animation: mainHeaderAnimation-secondLine cubic-bezier(0.22, 1, 0.36, 1) 1600ms;
                }
            }

            &__subHeader {
                line-height: 160%;
                display: flex;
                font-size: 14px;
                transition: flex ease 300ms;

                &--default {
                    opacity: 1;
                }

                &--hidden {
                    opacity: 0;
                }

                &:first-of-type {
                    margin-top: 30px;
                    // padding-left: 100px;
                    max-width: 80%;
                    animation: mainHeaderAnimation-text ease 1000ms;

                    @media (max-width: 1000px) {
                        // padding-left: 30px;
                    }
                }

                &:last-of-type {
                    margin-bottom: 40px;
                    color: $c-grey-1;
                    justify-content: flex-end;
                    animation: mainHeaderAnimation-textII ease 1400ms;
                }

                &--weronikasurdacka {
                    transform: translateX(5px);
                    @media (max-width: 1000px) {
                        transform: translateX(11px);
                    }
                }

                &--royalstar {
                    transform: translateX(15px);
                    @media (max-width: 1000px) {
                        transform: translateX(25px);
                    }
                }   

                &--frontlineclub {
                    transform: translateX(32px);
                    @media (max-width: 1000px) {
                        transform: translateX(34px);
                    }
                }

                &--pinacolada {
                    transform: translateX(43px);
                    @media (max-width: 1000px) {
                        transform: translateX(45px);
                    }
                }
            }

            &__socials {
                justify-self: end;
                align-self: end;
                justify-content: flex-end;
                align-items: flex-start;
                margin-bottom: 22px;
            }
        }
    }

    .rightSide {
        width: 100%;
        min-height: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0.18;

        // &--draggable {
        //     cursor: pointer;

        //     @media (max-width: 800px) {
        //         cursor: default;
        //     }
        // }

        // @media (max-width: 1400px) {
        //     flex: 0.12;
        // }

        // .link {
        //     text-decoration: none;
        //     width: 100%;
        //     height: 100%;
        //     text-align: center;
        //     display: none;
        //     font-size: 13px;
        //     position: absolute;
        //     z-index: 1;

        //     @media (max-width: 800px) {
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //     }

        //     span {
        //         position: relative;
        //         color: $c-black;
        //     }
        // }

        > span {
            position: relative;
            animation: fadeIn cubic-bezier(0.22, 1, 0.36, 1) 1600ms;
            font-size: 15px;
            transition: transform ease 300ms;
            pointer-events: none;

            @media (max-width: 800px) {
                display: none;
            }

            &::after {
                content: '>';
                display: block;
                position: absolute;
                left: 120%;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;
                transition: opacity ease 300ms, transform ease 300ms;
            }
        }

        &:active {
            > span {
                transform: translateX(-10px);
                &::after {
                    opacity: 1;
                    transform: translate(10px, -50%);
                }
            }
        }
    }
}

@keyframes mainHeaderAnimation-firstLine {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-35px);
        opacity: 1;
    }
}
@keyframes mainHeaderAnimation-secondLine {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(35px);
        opacity: 1;
    }
}
@keyframes mainHeaderAnimation-text {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes mainHeaderAnimation-textII {
    0% {
        opacity: 0;
    }
    64% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}