@import '../main';
@import '../fonts/MonoSpec';
@import '../fonts/Futura';
@import '../fonts/MicrosoftYiBaiti';
@import '../fonts/RockwellStd';
@import './elements/navbar';
@import './elements/landing';
@import './elements/dragSlider';
@import './elements/typeFaceExamples';
@import './elements/typeFace';
@import './elements/imageVisual';
@import './elements/doubleImageVisual';
@import './elements/nextProject';

.landingSection {
    .landing__logoWrapper {
        video {
            width: 1200px;
            @media (max-width: 1050px) {
                width: 700px;
            }
        }
    }
}

.dragSlider {
    &__wrapper {
        &__logo {
            width: 530px;
            height: 116px;
            margin: 242px 0;

            @media (max-width: 1050px) {
                width: 350px;
            }
        }
    }
    &--firstColor {
        .dragSlider__wrapper {
            &__rangeSlider {
                input {
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        border: 5px solid $c-white;
                        background: $c-green-5;
                    }
                
                    &::-moz-range-thumb {
                        border: 5px solid $c-white;
                        background: $c-green-5;
                    }
                
                    &::-ms-thumb {
                        border: 5px solid $c-white;
                        background: $c-green-5;
                    }
                    
                    &::-webkit-slider-runnable-track {
                        background: $c-white;
                    }
                
                    &::-moz-range-track {
                        background: $c-white;
                    }
                
                    &::-ms-track {
                        background: $c-white;
                    }
                }
            }
        }
    }
    &--secondColor {
        .dragSlider__wrapper {
            &__rangeSlider {
                input {
                    &::-webkit-slider-runnable-track {
                        background: $c-black;
                    }
                
                    &::-moz-range-track {
                        background: $c-black;
                    }
                
                    &::-ms-track {
                        background: $c-black;
                    }
                }
            }
        }
    }
}

.fullWidthVisual {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &__wrapper {
        width: 100%;
        max-width: 1540px;
        margin: 0 80px;
        display: grid;
        grid-template-columns: 100%;
    }

    &__header {
        height: 100%;
        border-left: 1px solid $c-yellow-1;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-column-gap: 12px;
        align-items: start;
        padding-left: 15px;
        
        &__text {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            transform: rotate(180deg);
            font-size: 15px;
            color: $c-yellow-1;

            &:nth-of-type(2) {
                grid-column: 2 / 3;
                font-size: 34px;
            }   
            &:last-of-type {
                grid-column: 3 / 4;
            }   
        }
    }

    .bgImage {
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }
}

.visual0 {
    padding-top: 250px;
    padding-bottom: 320px;

    .fullWidthVisual { 
        &__wrapper {
            max-width: 1580px;
            margin-right: 80px;
            margin-left: 260px;
            grid-template-rows: 838px 540px;
            
            @media (max-width: 1100px) {
                margin-left: 150px;
            }
            @media (max-width: 850px) {
                margin-left: 100px;
            }
        }
        &__section {
            height: 100%;

            &:first-of-type {
                justify-self: end;
            }
            &:last-of-type {
                justify-self: start;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .decorationIcon {
                    width: 72px;
                    height: 72px;
                    margin-bottom: 130px;
                }

                .text {
                    font-size: 15px;
                    line-height: 200%;
                }
            }
        }
        &__header {
            height: 576px;
        }
    }
}

.visual10 {
    padding-top: 250px;
    padding-bottom: 870px;
    margin-bottom: 212px;

    .fullWidthVisual { 
        &__wrapper {
            max-width: 1396px;
            margin: 0 80px;
            grid-template-rows: 827px;
        }

        &__section {
            height: 100%;
            justify-self: start;
        }
    }
}

.imageVisual, .doubleImageVisual {
    &__container {
        &__descriptionSection {
            border-left: 1px solid $c-green-4;
            &__header {
                color: $c-green-4;
            }
        }
    }
}

.doubleImageVisual {
    padding-top: 168px;
    padding-bottom: 69px;
    &__container {
        &__imageSection {
            grid-template-columns: 48% auto;
        }
    }    
}