@import '../main';
@import '../fonts/MonoSpec';
@import '../fonts/Acumin';
@import './elements/navbar';
@import './elements/landing';
@import './elements/dragSlider';
@import './elements/typeFaceExamples';
@import './elements/typeFace';
@import './elements/imageVisual';
@import './elements/doubleImageVisual';
@import './elements/archive';

.landingSection {
    .landing__logoWrapper {
        video {
            width: 900px;
            @media (max-width: 1050px) {
                width: 700px;
            }
        }
    }
}

.dragSlider {
    &__wrapper {
        &__logo {
            width: 345px;
            height: 345px;
            margin: 150px 0;
            @media (max-width: 1050px) {
                width: 280px;
            }
        }
    }
    &--firstColor {
        .dragSlider__wrapper {
            &__rangeSlider {
                input {
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        border: 5px solid $c-white;
                        background: $c-green-3;
                    }
                
                    &::-moz-range-thumb {
                        border: 5px solid $c-white;
                        background: $c-green-3;
                    }
                
                    &::-ms-thumb {
                        border: 5px solid $c-white;
                        background: $c-green-3;
                    }
                    
                    &::-webkit-slider-runnable-track {
                        background: $c-white;
                    }
                
                    &::-moz-range-track {
                        background: $c-white;
                    }
                
                    &::-ms-track {
                        background: $c-white;
                    }
                }
            }
        }
    }
    &--secondColor {
        .dragSlider__wrapper {
            &__rangeSlider {
                input {
                    &::-webkit-slider-runnable-track {
                        background: $c-black;
                    }
                
                    &::-moz-range-track {
                        background: $c-black;
                    }
                
                    &::-ms-track {
                        background: $c-black;
                    }
                }
            }
        }
    }
}

.typeFace {
    &__wrapper {
        &__header {
            &__fontName {
                font-size: 92px;
                @media (max-width: 940px) {
                    font-size: 72px;
                }
            }
        }
    }
}

.fullWidthImage {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-top: 286px;
    padding-bottom: 280px;

    @media (max-width: 1400px) {
        padding-top: 200px;
        padding-bottom: 180px;
    }
    @media (max-width: 950px) {
        padding-bottom: 0;
    }

    &__wrapper {
        width: 100%;
        max-width: 1385px;
        height: 1354px;
        margin: 0 80px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 740px 600px;

        &__section {
            &:first-of-type {
                height: 100%;
            }
            &:last-of-type {
                justify-self: end;
                align-self: end;
            }

            &--bordered {
                border-left: 1px solid $c-green-1;
            }

            &__header {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                grid-column-gap: 12px;
                padding-left: 15px;
                justify-items: start;
                align-items: start;;
                
                &__text {
                    writing-mode: vertical-lr;
                    text-orientation: mixed;
                    transform: rotate(180deg);
                    color: $c-green-2;
                    font-size: 15px;

                    &:nth-of-type(1) {
                        grid-row: 1 / 3;
                    }
                    &:nth-of-type(2) {
                        grid-row: 1 / 2;
                        grid-column: 2 / 3;
                        font-size: 34px;
                        padding-bottom: 20px;
                    }
                    &:nth-of-type(3) {
                        grid-row: 2 / 3;
                        grid-column: 2 / 3;
                        padding-right: 6px;
                        align-self: end;
                    }

                }
            }

            &__dateText {
                font-size: 17px;
                padding-right: 88px;
                color: #dfdfdf;
                @media (max-width: 1400px) {
                    display: none;
                }
            }
        }
    }

    img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.customerExperience {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-top: 440px;
    padding-bottom: 670px;

    @media (max-width: 1400px) {
        padding-top: 340px;
        padding-bottom: 570px;
    }

    &__wrapper {
        width: 100%;
        max-width: 1680px;
        height: 1034px;
        margin: 0 80px;
        display: grid;
        grid-template-columns: 78px 320px;
        grid-template-rows: 100%;

        &__section {
            &:first-of-type {
                height: 912px;
                justify-self: start;
                border-left: 1px solid $c-yellow-1;
            }
            &:last-of-type {
                align-self: end;
            }

            &__header {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                grid-column-gap: 12px;
                padding-left: 15px;
                justify-items: start;
                align-items: start;;
                
                &__text {
                    writing-mode: vertical-lr;
                    text-orientation: mixed;
                    transform: rotate(180deg);
                    color: $c-yellow-1;
                    font-size: 15px;

                    &:nth-of-type(2) {
                        grid-column: 2 / 3;
                        font-size: 34px;
                    }
                }
            }

            &__text {
                font-size: 24px;

                &:nth-of-type(1) {
                    margin-bottom: 214px;
                }
                &:nth-of-type(2) {
                    margin-bottom: 62px;
                }
            }   
        }
    }

    img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; 
    }
}

.imageVisual, .doubleImageVisual {
    &__container {
        &__descriptionSection {
            border-left: 1px solid $c-green-1;
            &__header {
                color: $c-green-1;
            }
        }
    }
}

.doubleImageVisual {
    padding-top: 40px;
    padding-bottom: 40px;
    &__container {
        &__imageSection {
            grid-template-columns: 54% auto;
        }
    }    
}

