@import '../main';
@import '../fonts/MonoSpec';
@import '../fonts/Dylan';
@import '../fonts/Acumin';
@import '../fonts/RockwellStd';
@import './elements/navbar';
@import './elements/landing';
@import './elements/dragSlider';
@import './elements/typeFaceExamples';
@import './elements/typeFace';
@import './elements/fullWidthImage';
@import './elements/imageVisual';
@import './elements/doubleImageVisual';
@import './elements/nextProject';

.landingSection {
    .landing__logoWrapper {
        video {
            width: 1600px;
            @media (max-width: 1050px) {
                width: 1100px;
            }
        }
    }
}

.dragSlider {
    &__wrapper {
        &__logo {
            width: 643px;
            height: 98px;
            margin: 220px 0;
            @media (max-width: 1050px) {
                width: 460px;
            }
        }
    }
    &--firstColor {
        .dragSlider__wrapper {
            &__rangeSlider {
                input {
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none; // needed again for Chrome & Safari
                        border: 5px solid $c-white;
                        background: $c-blue-2;
                    }
                
                    &::-moz-range-thumb {
                        border: 5px solid $c-white;
                        background: $c-blue-2;
                    }
                
                    &::-ms-thumb {
                        border: 5px solid $c-white;
                        background: $c-blue-2;
                    }

                    &::-webkit-slider-runnable-track {
                        background: $c-white;
                    }
                
                    &::-moz-range-track {
                        background: $c-white;
                    }
                
                    &::-ms-track {
                        background: $c-white;
                    }
                }
            }
        }
    }
    &--secondColor {
        .dragSlider__wrapper {
            &__rangeSlider {
                input {
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none; // needed again for Chrome & Safari
                        border: 5px solid $c-black;
                        background: $c-white;
                    }
                
                    &::-moz-range-thumb {
                        border: 5px solid $c-black;
                        background: $c-white;
                    }
                
                    &::-ms-thumb {
                        border: 5px solid $c-black;
                        background: $c-white;
                    }

                    &::-webkit-slider-runnable-track {
                        background: $c-black;
                    }
                
                    &::-moz-range-track {
                        background: $c-black;
                    }
                
                    &::-ms-track {
                        background: $c-black;
                    }
                }
            }
        }
    }
}

.fullWidthVisual {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &__wrapper {
        width: 100%;
        max-width: 1540px;
        margin: 0 80px;
        display: flex;
    }

    &__header {
        height: 100%;
        border-left: 1px solid $c-blue-1;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-column-gap: 12px;
        align-items: start;
        padding-left: 15px;
        
        &__text {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            transform: rotate(180deg);
            font-size: 15px;
            color: $c-blue-1;

            &:last-of-type {
                grid-column: 2 / 3;
                font-size: 34px;
            }   
        }
    }

    .bgImage {
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }
}

.visual1 {
    padding-top: 200px;
    padding-bottom: 260px;

    .fullWidthVisual { 
        &__wrapper {
            max-width: 1540px;
            margin: 0 80px;
            justify-content: flex-end;
        }
        &__section {
            height: 740px;
        }
    }

    .bgImage {
        @media (max-width: 1200px) {
            transform: translateX(350px);
        }
    }
}

.visual2 {
    padding: 106px 0 320px 145px;

    @media (max-width: 1300px) {
        padding: 106px 0 320px 40px;
    }

    .fullWidthVisual { 
        &__wrapper {
            max-width: 1540px;
            margin: 0 80px;
            justify-content: space-between;
        }
        &__section {
            height: 542px;

            &:first-of-type {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }
        }
    }

    .leftSection {
        &Header {
            font-size: 14px;
            margin-bottom: 82px;
        }

        &Text {
            font-size: 14px;
            line-height: 180%;
        }
    }

    .bgImage {
        right: 0;
        @media (max-width: 1320px) {
            transform: translateX(250px);
        }
        @media (max-width: 970px) {
            // transform: translateX(550px);
        }
    }
}

.visual10 {
    padding: 260px 0 188px 0;
    margin-bottom: 240px;

    .fullWidthVisual { 
        &__wrapper {
            max-width: 1140px;
            margin: 0 80px;
        }
        &__section {
            height: 1502px;
        }
        &__header {
            max-width: 85px;
            max-height: 526px;
            margin-bottom: 90px;
        }
    }

    .text {
        display: flex;
        flex-direction: column;

        * {
            font-size: 20px;
        }

        &__header {
            margin-bottom: 428px;
        }

        &__paragraph {
            line-height: 160%;

            &:first-of-type {
                margin-bottom: 50px;
            }
            &:last-of-type {
                margin-bottom: 95px;
            }
        }
        
        &__social {
            width: 27px;
            height: 27px;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.imageVisual, .doubleImageVisual {
    &__container {
        &__descriptionSection {
            border-left: 1px solid $c-blue-1;
            &__header {
                color: $c-blue-1;
            }
        }
    }
}