@import '../main';
@import '../fonts/MonoSpec';
@import '../fonts/MicrosoftYiBaiti';
@import '../fonts/Dylan';
@import '../fonts/RockwellStd';
@import './elements/navbar';
@import './elements//landing';
@import './elements/dragSlider';
@import './elements/typeFaceExamples';
@import './elements/typeFace';
@import './elements/fullWidthImage';
@import './elements/imageVisual';
@import './elements/nextProject';

.landingSection {
    .landing__logoWrapper {
        video {
            width: 800px;
            @media (max-width: 1050px) {
                width: 600px;
            }
        }
    }
}

.dragSlider {
    &__wrapper {
        &__logo {
            width: 340px;
            height: 232px;
            margin: 200px 0;

            @media (max-width: 1050px) {
                width: 290px;
            }
        }
    }
    &--firstColor {
        .dragSlider__wrapper {
            &__rangeSlider {
                input {
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none; // needed again for Chrome & Safari
                        border: 5px solid $c-white;
                        background: $c-black;
                    }
                
                    &::-moz-range-thumb {
                        border: 5px solid $c-white;
                        background: $c-black;
                    }
                
                    &::-ms-thumb {
                        border: 5px solid $c-white;
                        background: $c-black;
                    }

                    &::-webkit-slider-runnable-track {
                        background: $c-white;
                    }
                
                    &::-moz-range-track {
                        background: $c-white;
                    }
                
                    &::-ms-track {
                        background: $c-white;
                    }
                }
            }
        }
    }
    &--secondColor {
        .dragSlider__wrapper {
            &__rangeSlider {
                input {
                    &::-webkit-slider-runnable-track {
                        background: $c-grey-3;
                    }
                
                    &::-moz-range-track {
                        background: $c-grey-3;
                    }
                
                    &::-ms-track {
                        background: $c-grey-3;
                    }
                }
            }
        }
    }
}

.flippedVisual {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &__container {
        position: relative;
        display: grid;
        grid-template-rows: auto;
        max-width: 1618px;
        align-items: center;

        &__descriptionSection {
            grid-column: 1 / 2;

            &__header {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                margin-left: 16px;
                grid-column-gap: 10px;
                align-items: start;
                justify-items: end;

                &__text {
                    text-orientation: mixed;
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    font-size: 15px;

                    &:nth-of-type(1) {
                        grid-row: 1/3;
                        grid-column: 1/2;
                    }
                    
                    &:nth-of-type(2) {
                        grid-column: 2/3;
                        display: flex;
                    }

                    &:nth-of-type(3) {
                        font-size: 20px;
                        grid-column: 3/4;
                    }
                }
            }
        }

        &__imageSection {
            width: 100%;
            position: relative;
            grid-column: 3 / 4;

            &__imageWrapper {
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 0;
                }
            }
        }
    }
}

.visual45 {
    padding: 132px 0 0 40px;

    .flippedVisual__container {
        grid-template-columns: 136px minmax(20px, 55px) minmax(570px, 1470px);

        &__imageSection {
            height: 946px;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 48% auto;

            &__imageWrapper {
                img {
                    height: 102%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}

.visual8 {
    padding: 128px 0 125px 40px;

    .flippedVisual__container {
        grid-template-columns: 136px minmax(20px, 55px) minmax(570px, 1330px);

        &__imageSection {
            height: 1905px;

            &__imageWrapper {
                img {
                    left: 0;
                    height: 102%;

                    @media (max-width: 1400px) {
                        left: -150px;
                    }
                    @media (max-width: 1100px) {
                        left: -205px;
                    }
                }
                
                .text {
                    position: absolute;
                    left: 236px;
                    top: 50%;
                    transform: translateY(-50%);

                    @media (max-width: 1400px) {
                        left: 86px;
                    }
                    @media (max-width: 1100px) {
                        left: 31px;
                    }

                    &__paragraph {
                        font-size: 16px;

                        &:nth-of-type(1) {
                            margin-bottom: 285px;
                        }
                        &:nth-of-type(2) {
                            margin-bottom: 45px;
                        }
                        &:nth-of-type(3) {
                            margin-bottom: 58px;
                        }
                    }

                    &__social {
                        width: 26px;
                        height: 26px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }   
                }
            }
        }
    }
}

.imageVisual, .flippedVisual {
    &__container {
        &__descriptionSection {
            border-left: 1px solid $c-grey-2;
            &__header {
                color: $c-grey-2;
            }
        }
    }
}