.archive {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 200px;
    padding-bottom: 180px;

    &__container {
        width: 100%;
        max-width: 400px;
        position: relative;

        &:hover {
            &:after {
                opacity: 1;
            }
            .archive__container__text {
                transform: translate(-50%, 50%) scale(2);
            }
            .archive__container__sideText {
                transform: translateX(-50%);
                opacity: 0;
            }
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(1,1,1,.6);
            opacity: 0;
            transition: opacity cubic-bezier(0.22, 1, 0.36, 1) 800ms;
        }

        &__bgImage {
            width: 100%;
            height: 100%;
        }

        &__text {
            position: absolute;
            left: 50%;
            bottom: 50%;
            transform: translate(-50%, 360%);
            text-align: center;
            font-size: 25px;
            line-height: 180%;
            z-index: 1;
            transition: transform cubic-bezier(0.22, 1, 0.36, 1) 800ms;
        }

        &__sideText {
            font-size: 62px;
            text-transform: uppercase;
            position: absolute;
            top: 192px;
            left: -124px;
            z-index: 1;
            transition: transform cubic-bezier(0.22, 1, 0.36, 1) 800ms, opacity cubic-bezier(0.22, 1, 0.36, 1) 800ms;
            opacity: 1;
        }
    }
}