.imageVisual {
    width: 100%;
    display: flex;
    flex-direction: column;

    &--normal {
        align-items: center;
        padding: 250px 40px 100px 40px;

        .imageVisual__container {
            max-width: 1320px;

            &__imageSection {
                height: 633px;
                grid-column: 2 / 3;
            }

            &--dateLeft {
                grid-template-columns: minmax(0px, 165px) minmax(550px, 950px) minmax(20px, 55px) 91px;

                .imageVisual__container__imageSection {
                    .date {
                        bottom: 70px;
                        right: 97%;
    
                        @media (max-width: 1050px) {
                            left: -4%;
                        }
                    }
                }
            }

            &--dateRight {
                grid-template-columns: minmax(0px, 165px) minmax(550px, 950px) minmax(40px, 96px) 82px;

                .imageVisual__container__imageSection {
                    .date {
                        bottom: 70px;
                        left: 85%;
    
                        @media (max-width: 1180px) {
                            right: -6%;
                            left: unset;
                        }
                    }
                }
            }

            &__descriptionSection {
                height: 100%;
                grid-column: 4 / 5;
            }
        }
    }

    &--mid {
        align-items: flex-start;
        padding: 36px 40px 42px 0px;

        .imageVisual__container {
            max-width: 1645px;
            grid-template-columns: minmax(595px, 1470px) minmax(20px, 55px) 110px;

            &--flipped {
                grid-template-columns: minmax(595px, 1470px) minmax(20px, 55px) 110px;
            }

            &__imageSection {
                height: 960px;
            }

            &__descriptionSection {
                height: 70%;
                align-self: center;
                grid-column: 3 / 4;
            }
        }
    }

    &--normal, &--mid {
        .imageVisual__container__descriptionSection__header__text {
            &:nth-of-type(1) {
                grid-row: 1/3;
                grid-column: 1/2;
                align-self: flex-start;
            }
            
            &:nth-of-type(2) {
                font-size: 35px;
                align-self: flex-start;
                grid-column: 2/3;
            }
            &:nth-of-type(3) {
                align-self: flex-end;
                grid-column: 2/3;
            }
        }
    }

    &--large {
        align-items: flex-start;
        padding-right: 40px;

        .imageVisual__container {
            max-width: 1695px;
            grid-template-columns: minmax(535px, 1470px) minmax(20px, 55px) 154px;

            &__imageSection {
                height: 2170px;
            }

            &__descriptionSection {
                height: 100%;
                max-height: 1125px;
                align-self: center;
                grid-column: 3 / 4;

                &__header {
                    &__text {
                        &:nth-of-type(1) {
                            font-size: 18px;
                            grid-column: 1/2;
                        }
                        &:nth-of-type(2) {
                            font-size: 18px;
                            align-self: flex-start;
                            justify-self: end;
                            grid-column: 2/3;
                            display: flex;
                            align-items: flex-end;
                        }
                        &:nth-of-type(3) {
                            margin-left: 12px;
                            font-size: 23px;
                            align-self: flex-start;
                            grid-column: 3/4;
                        }
                    }
                }
            }
        }
    }

    &__container {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-rows: auto;

        &__imageSection {
            width: 100%;
            position: relative;

            &__imageWrapper {
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .miniature {
                width: 290px;
                height: 290px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 0;
                transform: translate(-50%, -50%);
                overflow: hidden;

                @media (max-width: 1050px) {
                    display: none;
                }
    
                img {
                    width: 110%;
                    position: absolute;
                }
    
                &Line {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 50%;
                    height: 50%;

                    @media (max-width: 1050px) {
                        display: none;
                    }
                }
            }

            .decorationIcon {
                width: 72px;
                height: 72px;
                position: absolute;
                bottom: 30%;
                left: -36px;

                @media (max-width: 850px) {
                    width: 50px;
                    height: 50px;
                    left: -25px;
                }
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
    
            .date {
                position: absolute;
                font-size: 17px;
            }
        }

        &__descriptionSection {
            &__header {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                margin-left: 16px;
                grid-column-gap: 10px;

                &__text {
                    text-orientation: mixed;
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    font-size: 16px;
                    &:nth-of-type(3) {
                        padding-right: 6px;
                    }
                }
            }
        }

        &__textBelow {
            width: 100%;
            max-width: 950px;
            position: relative;
            margin-top: 18px;
            line-height: 170%;
            grid-column: 2 / 3;
        }
    }
}