.nextProject {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 200px;
    padding-bottom: 180px;

    &__container {
        width: 100%;
        max-width: 400px;
        position: relative;

        &:hover {
            &:after {
                opacity: 1;
            }
            .nextProject__container__text {
                transform: translate(-50%, 50%) scale(2);
            }
            .nextProject__container__number {
                transform: translateX(-50%);
                opacity: 0;
            }
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(1,1,1,.6);
            opacity: 0;
            transition: opacity cubic-bezier(0.22, 1, 0.36, 1) 800ms;
        }

        &__bgImage {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &__text {
            position: absolute;
            left: 50%;
            bottom: 50%;
            transform: translate(-50%, 360%);
            text-align: center;
            font-size: 16px;
            line-height: 180%;
            z-index: 1;
            transition: transform cubic-bezier(0.22, 1, 0.36, 1) 800ms;
        }

        &__number {
            font-size: 62px;
            text-transform: uppercase;
            -webkit-text-stroke: .5px black;
            color: transparent;
            position: absolute;
            top: 95px;
            left: -65px;
            z-index: 1;
            transition: transform cubic-bezier(0.22, 1, 0.36, 1) 800ms, opacity cubic-bezier(0.22, 1, 0.36, 1) 800ms;
            opacity: 1;
        }

        &__description {
            height: 100%;
            position: absolute;
            left: calc(100% + 40px);
            top: 0;
            pointer-events: none;
    
            &__header {
                display: grid;
                grid-template-columns: auto auto;
                grid-column-gap: 0;
                grid-template-rows: auto;
                justify-items: start;
                align-items: start;
                padding-left: 14px;
    
                &__text {
                    text-orientation: mixed;
                    writing-mode: vertical-lr;
                    transform: rotate(180deg);
                    font-size: 15px;

                    &:first-of-type {
                        grid-row: 1/3;
                    }

                    &:nth-of-type(2) {
                        font-size: 34px;
                    }

                    &:last-of-type {
                        padding-right: 6px;
                    }
                }
            }
        }
    }
}