.typeFace {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 150px 0;

    &__wrapper {
        width: 100%;
        max-width: 1288px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 50px;

        &__header {
            margin-bottom: 51px;
        }

        &__fontDetails {
            width: 100%;
            display: grid;
            grid-template-columns: auto;
            justify-items: start;
            align-items: end;

            &__text {                
                &:nth-of-type(2) {
                    grid-column: 2 / 3;
                }
                &:nth-of-type(3) {
                    grid-column: 3 / 4;
                }

                span {
                    color: $c-grey-1;
                }

                display: block;
                flex-grow: 1;
                font-size: 14px;
            }
        }
        
        &__sideText {
            position: absolute;
            left: 52px;
            bottom: 150px;
            font-size: 16px;
            color: $c-grey-2;
            margin: auto;

            @media (max-width: 1650px) {
                display: none;
            }
        }
    }
}