@font-face {
    src: url("/fonts/MicrosoftYiBaiti.ttf");
    font-style: normal;
    font-weight: normal;
    font-family: 'MicrosoftYiBaiti';
}

.font-microsoftYiBaiti {
    font-family: 'MicrosoftYiBaiti';
    font-weight: 100;
}