.mainNav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;

    > * {
        pointer-events: all;
    }

    &__bar {
        width: 100%;
        display: flex;
        position: absolute;
        justify-content: space-between;
        pointer-events: none;

        > * {
            pointer-events: all;
        }
    }

    &__logo {
        width: 224px;
        height: 50px;
    
        @media (max-width: 450px) {
            width: 166px;
            height: 36px;
        }

        &--black {
            svg {
                fill: $c-black;
            }
        }

        &--grey {
            svg {
                fill: $c-grey-2;
            }
        }
    }

    &__btn {
        width: 60px;
        height: 40px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;
        outline: none;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        align-self: flex-end;

        @media (max-width: 450px) {
            width: 40px;
        }

        @media (max-height: 450px) {
            width: 55px;
        }

        &--unclickable {
            pointer-events: none;
        }

        &--fixed {
            position: fixed;
            top: 50px;
            right: 40px;
        }

        &--black {
            fill: $c-black;
        }

        &--grey {
            fill: $c-grey-2;
        }

        &--white {
            fill: $c-white;
        }

        svg {
            width: 70%;
            overflow: visible;
            position: absolute;
        }
    }

    &__sideMenu {
        width: 460px;
        height: 100%; 
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.87);
        z-index: 1;
        font-size: 90px;
        line-height: 0.71;
        transform: scaleX(0);
        transform-origin: right center;

        @media (max-width: 1000px) {
            font-size: 80px;
            width: 380px;
        }

        @media (max-width: 660px) {
            font-size: 100px;
            width: 100%;
        }

        @media (max-width: 450px) {
            font-size: 70px;
        }

        @media (max-height: 480px) {
            font-size: 60px;
        }

        &__items {
            list-style: none;
            position: absolute;
            top: calc(50% + 50px);
            transform: translate(-40px, -50%);
    
            @media (max-width: 1000px) {
                transform: translate(-20px, -50%);
            }
    
            @media (max-width: 660px) {
                transform: translate(0, -50%);
            }
    
            @media (max-height: 600px) {
                top: 50%;
            }
        }    

        &__item + &__item {
            margin-top: .33em;
        }
    
        &__item {
            &:hover {
                a {
                    color: $c-black;
                    transform: translateX(100px);
                }
            }
    
            a {
                text-decoration: none;
                color: transparent;
                -webkit-text-stroke: 1.88px black;
                transition: color 200ms ease;
            }

            .active {
                pointer-events: none;
                color: $c-black;
            }
        }
    }
}