.nav {
    display: flex;
    align-items: flex-end;
    animation: fadeIn cubic-bezier(0.22, 1, 0.36, 1) 1600ms;
    transition: visibility 300ms ease, opacity 300ms ease;
    opacity: 1;
    visibility: visible;

    &--hidden {
        visibility: hidden;
        opacity: 0;
    }

    &--white {
        .nav__list__item a {
            color: $c-white;
        }
        .nav__list__item::after {
            background-color: $c-white;
        }
    }

    &--black {
        .nav__list__item a {
            color: $c-black;
        }
        .nav__list__item::after {
            background-color: $c-black;
        }
    }

    &--grey {
        .nav__list__item a {
            color: $c-grey-2;
        }
        .nav__list__item::after {
            background-color: $c-grey-2;
        }
    }

    &__list {
        display: flex;
        list-style: none;
        justify-content: flex-end;

        &__item {
            height: 30px;
            font-size: 15px;
            display: flex;
            align-items: flex-end;
            cursor: pointer;
            position: relative;

            &:hover::after {
                animation: navItemUnderlineAnim 300ms ease;
                opacity: 1;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 115%;
                width: 100%;
                height: 2px;
                background-color: inherit;
                transform-origin: left;
                overflow: hidden;
                opacity: 0;
            }

            &:not(:last-child) {
                margin-right: 30px;
            }

            a {
               text-decoration: none;
            }
        }
    }
}

@keyframes navItemUnderlineAnim {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}