@import '../variables.scss';

.smallScreenInfo {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $c-black;
    top: 0;
    left: 0;
    z-index: 999;

    @media (max-width: 767px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    @media (max-height: 620px) {
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    &__wrapper {
        max-width: 500px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @media (max-width: 480px) {
            max-width: 380px;
        }
    }

    &__text {
        color: $c-white;
        font-size: 24px;
        line-height: 160%;

        @media (max-width: 480px) {
            font-size: 20px;
        }
        @media (max-width: 360px) {
            font-size: 18px;

        }

        &:first-of-type {
            margin-bottom: 8px;
        }
        &:last-of-type {
            text-align: center;
        }
    }

    &__image {
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
        border-radius: 10px;

        @media (max-width: 480px) {
            height: 250px;
        }
        @media (max-width: 360px) {
            height: 180px;
        }
        @media (max-height: 620px) {
            display: none;
        }
        
        img {
            width: 110%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% ,-50%);
        }
    }
}