.noSocials {
    display: grid;
    grid-template-columns: 32px 32px 32px 32px;
    grid-template-rows: 32px;
    grid-column-gap: 20px;

    &--grey {
        .noSocials__item svg {
            fill: $c-grey-2;
        }
    }

    &--black {
        .noSocials__item svg {
            fill: $c-black;
        }
    }

    &__item {
        width: 100%;
        height: 100%;
        transition: transform 300ms ease;
        
        &:hover {
            transform: translateY(-4px);
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}