.backgroundContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

    video {
        width: 100%;
        min-width: 1600px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 200px 90px 400px 60px;
    color: $c-white;

    &__leftSection {
        display: flex;

        &__subHeader {
            color: $c-grey-4;
            font-size: 20px;
            writing-mode: vertical-rl;
            margin-right: 25px;
        }

        &__mainHeader {
            font-family: 'Love';
            font-weight: 100;
            font-size: 280px;
            writing-mode: vertical-rl;
            margin-right: 32px;
            line-height: 80%;
        }

        &__detailsContainer {
            &__section {
                font-size: 14px;
                width: 280px;

                &:nth-child(1) {
                    margin-bottom: 90px;
                }

                &:nth-child(2) {
                    margin-bottom: 240px;
                }

                &:nth-child(3) {
                    margin-bottom: 35px;
                }

                &__header {
                    border-bottom: 2px solid $c-white;
                    padding-bottom: 2px;
                    margin-bottom: 25px;
                }

                &__paragraph {
                    line-height: 180%;

                    &:not(:last-child) {
                        margin-bottom: 25px;
                    }

                    span {
                        color: $c-grey-2;
                    }
                }
            }

            &__website {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-decoration: none;
                color: $c-grey-3;

                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }

                h1 {
                    font-size: 10px;
                }
            }
        }
    }

    &__rightSection {
        &__paragraph {
            font-size: 20px;
            line-height: 200%;

            &:first-child {
                margin-bottom: 55px;
            }

            span {
                background-color: $c-white;
                color: $c-black;
                padding: 3px;
            }
        }
    }
}