@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: rotate(180deg) translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: rotate(180deg) translateY(0);
    }
}