@import 'fonts';
@import 'colors';
@import 'landingPage';
@import 'aboutPage';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;

    .wrapper {
        width: 100%;
        height: 100%;
        max-width: 1920px;
        max-height: 840px;
        margin: auto 0px;
    }
}