@font-face {
    src: '../fonts/JuxtaSansMono-Light.otf';
    font-family: 'JuxtaSansMono-Light';
}
@font-face {
    src: '../fonts/JuxtaSansMono-Thin.otf';
    font-family: 'JuxtaSansMono-Thin';
}
@font-face {
    src: '../fonts/JuxtaSansMono-Regular.otf';
    font-family: 'JuxtaSansMono-Regular';
}
@font-face {
    src: '../fonts/JuxtaSansMono-Medium.otf';
    font-family: 'JuxtaSansMono-Medium';
}
@font-face {
    src: '../fonts/JuxtaSansMono-SemiBold.otf';
    font-family: 'JuxtaSansMono-SemiBold';
}
@font-face {
    src: '../fonts/JuxtaSansMono-Bold.otf';
    font-family: 'JuxtaSansMono-Bold';
}
@font-face {
    src: '../fonts/JuxtaSansMono-Black.otf';
    font-family: 'JuxtaSansMono-Black';
}
@font-face {
    src: '../fonts/JuxtaSansMono-ExtraBlack.otf';
    font-family: 'JuxtaSansMono-ExtraBlack';
}
@font-face {
    src: '../fonts/QirateMono.otf';
    font-family: 'QirateMono';
}
