@font-face {
    src: url("./fonts/MonoSpecLight.otf");
    font-style: normal;
    font-weight: normal;
    font-family: 'MonoSpec-Light';
}
@font-face {
    src: url("./fonts/MonoSpec.otf");
    font-style: normal;
    font-weight: normal;
    font-family: 'MonoSpec';
}
@font-face {
    src: url("./fonts/MonoSpecMedium.otf");
    font-style: normal;
    font-weight: normal;
    font-family: 'MonoSpec-Medium';
}
@font-face {
    src: url("./fonts/MonoSpecSemiBold.otf");
    font-style: normal;
    font-weight: normal;
    font-family: 'MonoSpec-SemiBold';
}
@font-face {
    src: url("./fonts/MonoSpecBold.otf");
    font-style: normal;
    font-weight: normal;
    font-family: 'MonoSpec-Bold';
}
@font-face {
    src: url("./fonts/Love.otf");
    font-style: normal;
    font-weight: normal;
    font-family: 'Love';
}

.mono300 {
    font-family: 'MonoSpec-Light';
}

.mono400 {
    font-family: 'MonoSpec';
}

.mono500 {
    font-family: 'MonoSpec-Medium';
}

.mono600 {
    font-family: 'MonoSpec-SemiBold';
}

.mono700 {
    font-family: 'MonoSpec-Bold';
}