@import './main';
@import './elements/smallScreenInfo';
@import './fonts/MonoSpec';
@import './elements//mainNav';
@import './fonts/RockwellStd';

.mainNav {
    max-width: 1560px;

    &__bar {
        padding: 0 60px;
        top: 95px;

        @media (max-width: 955px) {top: 90px;}
        @media (max-width: 650px) {top: 40px;padding: 0 16px;}
        @media (max-height: 600px) {top: 30px;}
        @media (max-height: 480px) {top: 20px;}
    }
}

.landing {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c-white;

    .videoContainer {
        height: 620px;
        width: 620px;
        position: relative;

        @media (max-height: 700px) and (orientation: portrait) {
            width: 400px;
            height: 400px;
        }

        @media (max-width: 1400px) and (orientation: portrait) {
            width: 620px;
            height: 620px;
        }

        @media (max-width: 900px) and (orientation: portrait) {
            width: 500px;
            height: 500px;
        }

        @media (max-width: 550px) and (orientation: portrait) {
            width: 370px;
            height: 370px;
        }

        @media (max-width: 400px) and (orientation: portrait) {
            width: 300px;
            height: 300px;
        }

        @media (max-width: 310px) and (orientation: portrait) {
            width: 270px;
            height: 270px;
        }

        @media (max-height: 800px) and (orientation: landscape) {
            width: 450px;
            height: 450px;
        }

        @media (max-height: 600px) and (orientation: landscape) {
            width: 350px;
            height: 350px;
        }

        @media (max-height: 480px) and (orientation: landscape) {
            width: 280px;
            height: 280px;
        }

        @media (max-height: 360px) and (orientation: landscape) {
            width: 240px;
            height: 240px;
        }

        @media (max-height: 320px) and (orientation: landscape) {
            width: 200px;
            height: 200px;
        }

        &__wrapper {
            width: 100%;
            height: 100%;
            max-width: 100vw;
            max-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            border-radius: 50%;
            overflow: hidden;
            -webkit-mask-image: -webkit-radial-gradient(white, black);
        }

        .tVideo {
            pointer-events: all;
            width: 274%;
            height: 154%;
            cursor: pointer;
            top: 50%;
            left: 50%;
            transform: translate(-49%, -50%);
            position: absolute;
            transition: transform 600ms ease;
            transform-origin: center center;

            &:hover {
                transform: translate(-49%, -50%) scale(1.2);
            }
        }

        &__fVideoWrapper {
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-color: $c-black;
            display: flex;
            justify-content: center;
            align-items: center;

            .fVideo {
                position: absolute;
                width: 100%;
                max-height: 100%;
                z-index: -1;
            }
        }

        .pointer {
            position: absolute;
            right: calc(100% + 18px);
            top: 50%;
            width: 152px;
            transform: translateY(-1px);

            @media (max-width: 1050px) {
                right: 50%;
                top: 101%;
                width: 50%;
            }

            @media (max-height: 360px) and (orientation: landscape) {
                right: calc(100% + 18px);
                top: 50%;
                width: 50%;
            }

            .line {
                width: 100%;
                height: 1px;
                background-color: $c-black;
            }

            .title {
                margin-top: 5px;
                font-size: 20px;
            }
        }

        &__skipBtn {
            position: absolute;
            bottom: 50px;
            text-decoration: none;
            color: $c-black;
            background-color: $c-white;
            border-radius: 30px;
            padding: 1em 6em;
            transform: translateY(300%);
        }
    }
}