.landingPage {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 18% auto 18%;

    p, h1, span {
        text-transform: uppercase;
    }

    .leftSide {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .indicator {
            height: 90px;
            width: 100%;
            font-size: 16px;
            text-align: center;
            animation: fadeIn 600ms ease;
        }
    }

    .content {
        width: 100%;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 45% auto;

        &__imageSection {
            width: 100%;
            position: relative;

            &__wrapper {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;

                &__image {
                    height: 100%;
                    min-height: 840px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &__projNumber {
                position: absolute;
                top: 20px;
                left: -30px;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                font-size: 44px;
                color: transparent;
                -webkit-text-stroke: 1px black;
                animation: slideInUp 600ms ease;
            }
        }

        &__menuSection {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__navigation {
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                animation: fadeIn 600ms ease;

                &__list {
                    display: flex;
                    list-style: none;
                    justify-content: flex-end;

                    &__item {
                        height: 30px;
                        font-size: 15px;
                        display: flex;
                        align-items: flex-end;
                        cursor: pointer;

                        &:not(:last-child) {
                            margin-right: 30px;
                        }

                        a {
                           text-decoration: none;
                           color: $c-black; 
                        }
                    }
                }
            }

            &__mainHeader {
                transform: translateY(70px);

                &__title {
                    display: flex;
                    flex-direction: column;
                    font-size: 77px;
                    margin-bottom: 24px;

                    span:nth-child(1) {
                        transform: translateX(-80px);
                        animation: mainHeaderAnimation-firstLine ease 520ms;
                    }
                    span:nth-child(2) {
                        transform: translateX(80px);
                        animation: mainHeaderAnimation-secondLine ease 520ms;
                    }
                }

                &__text {
                    line-height: 160%;
                    display: flex;
                }

                &__text:nth-of-type(1) {
                    transform: translateX(90px);
                    margin-bottom: 40px;
                    animation: mainHeaderAnimation-text ease 1000ms;
                }

                &__text:last-child {
                    color: $c-grey-1;
                    justify-content: flex-end;
                    animation: mainHeaderAnimation-textII ease 1400ms;
                }
 
            }

            &__socials {
                width: 100%;
                height: 55px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                animation: fadeIn 800ms ease;

                &__item {
                    width: 32px;
                    height: 32px;
                    border: none;
                    background: none;
                    cursor: pointer;

                    &:not(:last-child) {
                        margin-right: 20px;
                    }

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .rightSide {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        .nextButton {
            width: 100%;
            height: 40px;
            cursor: pointer;
            border: none;
            background: transparent;
            animation: fadeIn 600ms ease;
            text-decoration: none;
            color: $c-black;

            span {
                position: relative;
                font-size: 15px;

                &::after {
                    content: '>';
                    display: block;
                    position: absolute;
                    left: 130%;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: transform 300ms ease;
                }
            }

            &:hover {
                span {
                    transform: scale(1.4);
                    &::after {
                        transform: translate(10px, -50%);
                    }
                }
            }
        }
    }
}

@keyframes mainHeaderAnimation-firstLine {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-80px);
        opacity: 1;
    }
}
@keyframes mainHeaderAnimation-secondLine {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(80px);
        opacity: 1;
    }
}
@keyframes mainHeaderAnimation-text {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes mainHeaderAnimation-textII {
    0% {
        opacity: 0;
    }
    64% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: rotate(180deg) translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: rotate(180deg) translateY(0);
    }
}