@import 'variables';
@import './elements/nav';
@import './elements/socials';
@import './elements/smallScreenInfo';
@import './elements/pageLoader';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;

    .v-wrapper {
        height: 100%;
        max-height: 880px;
        margin-top: auto;
        margin-bottom: auto;
        @media (max-width: 767px) {
            > *:not(.smallScreenInfo) {
                display: none;
            }
        }
        @media (max-height: 620px) {
            > *:not(.smallScreenInfo) {
                display: none;
            }
        }
    }

    .h-wrapper {
        width: 100%;
        max-width: 1920px;
        margin-right: auto;
        margin-left: auto;

        @media (max-width: 1920px) {
            overflow-x: hidden;
        }

        @media (max-width: 767px) {
            > *:not(.smallScreenInfo) {
                display: none;
            }
        }
        @media (max-height: 620px) {
            > *:not(.smallScreenInfo) {
                display: none;
            }
        }
    }
}